.slider{
    overflow: hidden;
}
.slider .slider-wrapper {
    height: 100%;
}
.slider .slider-wrapper .slider-slide {
    background-size: cover;
    background-position: center top;
    height: 100%;
    float: left;
}
.slider-btn{
    width: 30px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
}

.slider-prev{
    left: 20px;
    background-image: url(../img/left.jpg);
    background-size: 100%;
}
.slider-next{
    right: 20px;
    background-image: url(../img/right.jpeg);
    background-size: 100%;

}